#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
  color: #1A1A1A;
}

#container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}

#container a {
  text-decoration: none;
  color: #FFB800;
}

.clickable {
  cursor: pointer;
}

.card-xsmall, .card-small, .card-medium, .card-large, .card-xlarge {
  margin-left: 10%;
  margin-right: 10%;
}

.espejo {
  display: inline-block;
  transform: scaleX(-1);
  font-size: 50px;
  color: #FFB800;
}