// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/

/**
  * Barcode Scanning
  * -------------------------------------------------------
  */

body.barcode-scanning-active {
    --ion-background-color: transparent !important;
    --background: transparent !important;
}

.barcode-scanning-modal {
    visibility: visible;
}