<ion-header [translucent]="false">
  <ion-toolbar>
    <ion-title>
      RegistrAPP
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <ion-card [ngClass]="currentScreenClass" 
    style="top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);">
      <ion-card-header style="background-color: darkslateblue;">
        <ion-card-title style="color: white;">Bienvenido a RegistrAPP</ion-card-title>
        <ion-card-subtitle style="color: white;">Recuperar contraseña</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
        <div style="margin-top: 1em;">
          <mat-form-field style="width : 50%;">
            <mat-label [ngStyle]="{'font-size': getFontSize()}">Ingresa tu email</mat-label>
            <input
              matInput
              placeholder="usuario@duocuc.cl"
              [(ngModel)]="user"
              [formControl]="email"
              (blur)="updateErrorMessage()"
              required
            />
            @if (email.invalid) {
              <mat-error>{{errorMessage()}}</mat-error>
            }
          </mat-form-field>
        </div>
      </ion-card-content>
      <div>
        <ion-button (click)="navigateToLogin()">Enviar</ion-button>
      </div>
    </ion-card>
  </div>
</ion-content>
