<ion-content [fullscreen]="true">
  <ion-menu contentId="main-content">
    <ion-header [translucent]="true">
      <ion-toolbar>
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <div class="example-menu" cdkMenu>
        <button class="example-menu-item" cdkMenuItem>Inicio</button><br />
        <button class="example-menu-item" cdkMenuItem>Perfil VivoDuoc</button
        ><br />
        <button class="example-menu-item" cdkMenuItem>
          Registrar asistencia</button
        ><br />
        <button class="example-menu-item" cdkMenuItem>Horario de clases</button
        ><br />
        <button class="example-menu-item" cdkMenuItem>Asistencias</button><br />
        <button [cdkMenuTriggerFor]="menu" class="example-standalone-trigger">
          Opciones</button
        ><br />
        <ng-template #menu>
          <div class="example-menu" cdkMenu>
            <button class="example-menu-item" cdkMenuItem>Recargar</button>
            <button class="example-menu-item" cdkMenuItem>
              Configuraciones
            </button>
            <button class="example-menu-item" cdkMenuItem>Ayuda</button>
          </div>
        </ng-template>
      </div>
    </ion-content>
  </ion-menu>
  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Bienvenido {{ user }}!</ion-title>
        <ion-buttons slot="end">
          <ion-menu-button (click)="navigateToLogin()"><mat-icon>home</mat-icon></ion-menu-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding" [ngStyle]="{'font-size': getFontSize()}">
      <mat-grid-list cols="2" rowHeight="450" >
        <mat-grid-tile>
          <mat-card class="demo-inline-calendar-card">
            <mat-calendar [(selected)]="selected"></mat-calendar>
            <p style="color: black;">Fecha seleccionada: {{selected()}}</p>
          </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-list>
            <div mat-subheader>
              <mat-label [ngStyle]="{'font-size': getFontSize()}"></mat-label>

            </div>
            @for (folder of folders; track folder) {
              <mat-list-item [ngStyle]="{'font-size': getFontSize()}">
                <mat-icon matListItemIcon style="color: white;">folders</mat-icon>
                <div matListItemTitle>{{folder.name}}</div>
                <div matListItemLine>{{folder.updated | date}}</div>
              </mat-list-item>
            }
            <div mat-subheader></div>
            @for (note of notes; track note) {
              <mat-list-item [ngStyle]="{'font-size': getFontSize()}">
                <mat-icon matListItemIcon>note</mat-icon>
                <div matListItemTitle>{{note.name}}</div>
                <div matListItemLine>{{note.updated | date}}</div>
              </mat-list-item>
            }
          </mat-list>
        </mat-grid-tile>
      </mat-grid-list>
    </ion-content>
  </div>
</ion-content>
