<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <ion-card style="top: 50%; -ms-transform: translateY(-50%); transform: translateY(-50%);">
      <ion-card-header style="background-color: darkslateblue;">
        <ion-card-title style="color: white;">Bienvenido a RegistrAPP</ion-card-title>
        <ion-card-subtitle style="color: white;">Formulario de Registro</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <form [formGroup]="registerForm" (ngSubmit)="createPost()">
          <ion-item>
            <ion-input formControlName="username" 
              placeholder="Ingrese su usuario"
              label="Nombre de usuario"
              labelPlacement="floating"
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-input formControlName="email"
              type="email"
              placeholder="Ingrese su Email"
              label="Email"
              labelPlacement="floating"
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-input formControlName="password"
              type="password" 
              placeholder="Ingrese su contraseña"
              label="Contraseña"
              labelPlacement="floating"
            ></ion-input>
          </ion-item>
          <ion-button type="submit" expand="block" [disabled]="registerForm.invalid">Registrar</ion-button>
          
        </form>
      </ion-card-content>  
    </ion-card>
  </div>
</ion-content>